<configuration>

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.Logger$ColoredLevel"/>
    <property name="LOG_PATH" value="/data/sspLadder/logs/"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%coloredLevel - %logger{36} - %X{akkaSource} - %message%n%xException</pattern>
        </encoder>
    </appender>


    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/application.%d{yyyy-MM-dd}.log
            </fileNamePattern>
        </rollingPolicy>
        <append>true</append>
        <encoder>
            <pattern>
                %d{HH:mm:ss} [%thread][%logger{36}][%X{akkaSource}] %-5p [%class.%method:%L] - %message%n%xException
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="SHOPPING_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/shopping.%d{yyyy-MM-dd}.log
            </fileNamePattern>
        </rollingPolicy>
        <append>true</append>
        <encoder>
            <pattern>
                %d{HH:mm:ss} [%thread][%logger{36}][%X{akkaSource}] %-5p [%class.%method:%L] - %message%n%xException
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--
      The logger name is typically the Java/Scala package name.
      This configures the log level to log at for a package and its children packages.
    -->

    <logger name="shopping" level="INFO">
        <appender-ref ref="SHOPPING_APPENDER"/>
    </logger>
    <logger name="play" level="INFO"/>
    <logger name="application" level="DEBUG"/>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
